internship_email_notifier.json
{
  "name": "internship alerts 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1264,
        -176
      ],
      "id": "e9ad935e-f59a-4888-b125-161274924d59",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $now.minus(6, 'hours').toISO() }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1056,
        -176
      ],
      "id": "4388b462-2926-43da-8f58-3abb434e9dad",
      "name": "Get many messages",
      "webhookId": "dc5b5fbf-0eae-4630-ad60-7c036679f195",
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "credentials": {
        "gmailOAuth2": {
          "id": "w8NdvpeSMz2C3Mx1",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -592,
        16
      ],
      "id": "1a0520ab-046e-4d55-b5e6-efea099d8be4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "o8LqJy27418sQwWt",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nSubject: {{ $('Get many messages').item.json.Subject }}\nBody: {{ $('Get many messages').item.json.snippet }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an email classifier. \nignore the input which is coming from get many labels\nClassify this email into exactly one of these categories:  Internships - emails about internships, job offers, hiring, offer letters, or recruitment AI & Tech - emails about coding, hackathons, coding competitions, AI, data science, machine learning, or any tech-related topics Others - anything that does not fit the above two categories  Reply with only the category name exactly as written above. Nothing else. No punctuation, no explanation.\n\nDO NOT classify these as Internships or AI & Tech, classify as Others:\n- Google security alerts\n- Account access notifications  \n- Login/password alerts\n- Any email from no-reply@accounts.google.com\n- Any email about account activity or security"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -656,
        -208
      ],
      "id": "537171be-d868-4a38-bd29-9443baf492d7",
      "name": "Basic LLM Chain",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "labelIds": "={{ $('Get many labels').all().find(l => l.json.name === $('Basic LLM Chain').item.json.text.trim()).json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        -224
      ],
      "id": "beaece6d-a896-4460-a256-471a26459e4e",
      "name": "Add label to message1",
      "webhookId": "782cede9-8772-4f68-acc9-2618ef9bacac",
      "retryOnFail": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "w8NdvpeSMz2C3Mx1",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2132f04c-b417-4ddf-9354-952c8ff4035b",
              "leftValue": "={{ $('Basic LLM Chain').item.json.text === 'Internships' || $('Basic LLM Chain').item.json.text === 'AI & Tech' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        -176
      ],
      "id": "a6740d61-b7c6-4582-8966-b04233eee08c",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -848,
        -320
      ],
      "id": "445ec700-547b-4a57-90e9-178774ff7ca6",
      "name": "Get many labels",
      "webhookId": "611ed904-9d0c-4b74-9474-63ea79e48b76",
      "executeOnce": true,
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "w8NdvpeSMz2C3Mx1",
          "name": "Gmail account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=label:{{ $('Basic LLM Chain').item.json.text}}\nfrom:{{ $('Get many messages').item.json.From }}\nsubject{{ $('Get many messages').item.json.Subject }}\ndata:{{ $('Get many messages').item.json.snippet }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an email filter assistant for a student tracking internships and tech opportunities.\n\nOnly reply SKIP if the email is clearly:\n- Promotional or marketing\n- A newsletter with no action required\n- A platform update or feature announcement\n- A security/account alert\n- Completely irrelevant to internships or tech opportunities\n\nIf the email contains ANY of these → process it:\n- Internship or job opportunity\n- Assignment or task to complete\n- Interview call or invitation\n- Offer letter\n- Registration for a hackathon, contest, or event\n- Deadline reminder\n- Any email requiring the student to take action\n\nReply with only this JSON:\n{\n  \"company\": \"[company name]\",\n  \"label\": \"[label]\",\n  \"type\": \"[Offer Letter / Assignment / Interview Call / Registration / Deadline]\",\n  \"role\": \"[role/position or Not mentioned]\",\n  \"deadline\": \"[deadline or Not mentioned]\",\n  \"link\": \"[link or Not available]\"\n}\n\nReturn only the JSON. No extra text. No markdown. No backticks.\nIf SKIP, reply only: SKIP"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        -80
      ],
      "id": "ecfd82f4-54cd-473e-927d-c183ea8395a1",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        224,
        112
      ],
      "id": "5f5fdb8f-4736-46f2-abea-38f2cbdb84e9",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "o8LqJy27418sQwWt",
          "name": "Groq account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2136ef7c-e1f1-4a55-9c00-9e71b443c72b",
              "leftValue": "={{ !$json.labels.some(l => l.id === 'Label_2' || l.id === 'Label_4') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -848,
        -96
      ],
      "id": "235d1762-f24b-41ef-9508-d32862c39be3",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5e69282-5755-4e39-b8d0-6ed3b4a3eacd",
              "leftValue": "={{ $json.text }}",
              "rightValue": "SKIP",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        -80
      ],
      "id": "3543bb05-c9ff-45f1-bac9-bfc1c86531b5",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ JSON.parse($('Basic LLM Chain1').item.json.text).company }}",
            "Field": "={{ JSON.parse($('Basic LLM Chain1').item.json.text).role }}",
            "Deadline": "={{ JSON.parse($('Basic LLM Chain1').item.json.text).deadline }}",
            "Gmail link": "=https://mail.google.com/mail/u/0/#inbox/{{ $('Get many messages').item.json.id }}",
            "Status": "Not Applied",
            "Application link": "={{ JSON.parse($('Basic LLM Chain1').item.json.text).link }}",
            "Date": "={{ $now.format('DD hh:mm a') }}",
            "Subject": "={{ $('Get many messages').item.json.Subject }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Field",
              "displayName": "Field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Application link",
              "displayName": "Application link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deadline",
              "displayName": "Deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail link",
              "displayName": "Gmail link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        -176
      ],
      "id": "32b6cb76-7cc6-4c24-9b8f-527fca6a4e78",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H6RvUEfukueJyIRn",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🏢 Company: {{ JSON.parse($('Basic LLM Chain1').item.json.text.replace(/\\\\n/g, '').replace(/\\n/g, '')).company }}\n📆 Date: {{ $now.format('DD hh:mm a') }}\nsubject: {{ $('Get many messages').item.json.Subject }}\n📌 Type: {{ JSON.parse($('Basic LLM Chain1').item.json.text.replace(/\\\\n/g, '').replace(/\\n/g, '')).type }}\n💼 Role: {{ JSON.parse($('Basic LLM Chain1').item.json.text.replace(/\\\\n/g, '').replace(/\\n/g, '')).role }}\n⏰ Deadline: {{ JSON.parse($('Basic LLM Chain1').item.json.text.replace(/\\\\n/g, '').replace(/\\n/g, '')).deadline }}\n🔗 Link: {{ JSON.parse($('Basic LLM Chain1').item.json.text.replace(/\\\\n/g, '').replace(/\\n/g, '')).link }}\n\n📬 Open Mail: https://mail.google.com/mail/u/0/#inbox/{{ $('Get many messages').item.json.id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        -176
      ],
      "id": "5c00ef7c-75e0-4f8b-b600-6fd33a6f00bf",
      "name": "Send a text message",
      "webhookId": "ec31f726-e743-4343-a886-e6d551d394c0",
      "credentials": {
        "telegramApi": {
          "id": "7Mcc0n0yH5aenLtk",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Auto labels the emails",
        "height": 704,
        "width": 1456
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        -464
      ],
      "id": "6b45bf2e-825a-435f-81cd-e4aa1a9f469a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "sends alerts to telegram and stores important data in sheets",
        "height": 704,
        "width": 1120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -416
      ],
      "id": "5ac926e7-638c-4371-b10c-0fdc570bb28e",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Get many labels",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels": {
      "main": [
        []
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "608bbc77-16ce-4042-8172-b36add1f5c70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b1fb1deb3c52f53200b6110790f098ce0a40033ae0ead0c3c6288b2dcc89789"
  },
  "id": "cVUyvNrySmG9XqOJ",
  "tags": []
}
